.Contact {
  .container {
    align-items: center;
   display: flex; 
   flex-direction: column;
  }
  
  form {
    background-color: rgb(var(--w));
    border-radius: 15px;
    box-shadow: rgb(var(--grey)) 2px 4px 22px -12px;
    color: rgb(var(--b));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 6rem 0;
    padding: 2rem 1.5rem;
    max-width: 943px;
    width: calc(100% - 3rem);

    .block {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    @media (min-width: $tablet) {
      padding: 3rem;
      width: calc(100% - 6rem);
    }

    @media (min-width: $laptop) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .textarea-wrapper {
        grid-column: 1 / span 2;
      }
    }

    label,
    input {
      display: block;
      color: rgb(var(--b));
    }

    label {
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    input[type="text"],
    textarea {
      background-color: transparent;
      border: 1px solid #aeb2b7;
      border-radius: 5px;
      color: rgb(var(--b));
      font-size: 1rem;
      padding: 0.8rem 0.5rem;
      outline: none;
    }

    .btn {
      margin-top: 2rem;
      padding: 1rem 2.5rem;
    }
  }
  
  .icon {
    font-size: 20px;
    margin-left: 5px;
  }
}

.Contact .hero {
  background-color: rgb(var(--w));
  height: 40vh;
}
