.About {
  display: flex;
  justify-content: center;
  
  h1 {
    margin-bottom: 4rem !important;
  }

  .block {
    margin-bottom: 3rem;

    h3 {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 16px;
      line-height: 2.2rem;
      text-align: left;
    }
  }

  @media (min-width: $desktop) {
    .container {
      max-width: 783px;
    }
  }

  // @media (min-width: 1922px) {
  //   .container {
  //     padding: 6rem 55rem !important;
  //   }
  // }
}
