.Home {
  margin: 0;
}

.Hero {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;

  video {
    position: absolute;
    height: 100%;
    object-fit: cover;

    width: 100%;
  }

  .overlay {
    align-items: center;
    background-color: rgba(var(--b), 0.6);
    color: rgb(var(--w));
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    width: fit-content;
    z-index: 1;
  }

  h1 {
    align-items: center;
    color: rgb(var(--w));
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &:after {
      background-color: var(--primary);
      border-radius: 12px;
      content: "";
      display: block;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
      height: 8px;
      width: 190px;
    }

    @media (min-width: $laptop) {
      font-size: 7.5rem;
      line-height: 7.5rem;
    }
  }

  p {
    color: rgb(var(--w));
    font-size: 22px;
    margin-bottom: 30px;
  }

  @media (min-width: $laptop) {
    .overlay {
      align-items: baseline;
      left: 10%;
      max-height: calc(100vh - 16rem);
      padding: 8rem 10rem 8rem 8rem;
      position: absolute;
      text-align: left;
      top: calc(50% - 715px / 2);

      h1 {
        align-items: baseline;
        max-width: 600px;
      }

      p {
        font-size: 26px;
      }

      .btn {
        font-size: 1.6rem;
      }
    }
  }
}

.home-intro {
  .layout {
    display: flex;
    flex: 1;
    flex-direction: column;

    .left-block {
      background-color: var(--primary);
      color: rgb(var(--b));
      padding: 4rem 1rem;
      width: calc(100% - 2rem);

      h2 {
        font-size: 48px;
      }

      p {
        color: rgb(var(--b));
        line-height: 2.5rem;
        font-size: 16px;
      }

      @media (min-width: $mobileL) {
        padding: 6rem 3rem;
        width: calc(100% - 6rem);
      }
      
      @media (min-width: 1922px) {
        p {
          margin-top: 5rem;
        }
      }
    }

    .right-block {
      position: relative;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    @media (min-width: $laptopM) {
      flex-direction: row;

      .left-block {
        padding: 6rem 8rem;
        width: calc(50% - 16rem);
      }

      .right-block {
        width: 50%;

        &::after {
          background-color: rgba(#c1d6e9, 0.169);
          clip-path: polygon(100% 0, 100% 100%, 0 100%);
          content: "";
          height: 50%;
          bottom: 0;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 100;
        }
      }
    }
  }
}

.home-services {
  color: var(--foreground);
  padding: 2rem 0;
  text-align: center;

  h2 {
    color: var(--foreground);
    padding: 4rem 0 3rem;
    margin: 0;
  }

  .box {
    .icon {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 32px;
    }

    .description {
      display: none;
      font-size: 14px;
    }
  }

  @media (min-width: $tablet) {
    padding: 6rem 0;

    .box .description {
      display: block;
    }
  }

  .services-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: clamp(280px, 60%, 320px);
    justify-content: center;
    padding-bottom: 4rem;

    @media (min-width: $mobileL) {
      grid-template-columns: repeat((1, min(320px, 80%)));
    }

    @media (min-width: $laptop) {
      grid-template-columns: repeat(3, min(340px, 80%));
    }
  }

  .box {
    border: 2px solid rgba(var(--grey), 0.3);
    border-radius: 16px;
    padding: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;
    text-align: center;

    &:hover {
      // box-shadow: 1px 2px 10px -8px;
      // box-shadow: 0 20px 40px;
      box-shadow: 1px 2px 10px -4px;
      cursor: pointer;

      .icon {
        color: var(--secondary);
      }
    }
  }

  .icon {
    color: var(--primary);
    font-size: 82px;
    padding-top: 28px;
    transition: color 0.2s ease-in-out;
  }
}
